* {
    padding: 0;
    margin: 0;
}
#page {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto 10%;
    min-height: 100vh;
}
#app {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    
}
article {
    border: solid 2px silver;
    border-radius: 2 px;
}
.restaurant-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.restaurant-card div {
    height: 16rem;
    background-size: cover;
    background-position: center top;
}
.restaurant-card footer {
    display: flex;
    justify-content: flex-end;
    flex: 1 1 auto;
}
.restaurant-card footer h2 {
    background-color: white;
    flex: 1 1 auto;
}
form {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 50%;
}

header {
    background-color: aquamarine;
    display: flex;
    justify-content: center;
}

aside {
    background-color: cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 20vw;
}
aside button {
    width: 12rem;
}
main {
    background-color: cornflowerblue;
    width: 80vw;
}
footer {
    display: flex;
    justify-content: end;
    background-color: aqua;
}
#page {
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer";
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
}
.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-bg > article {
    height:  33vh;
    width: 33vw;
    background-color: white;
    padding: 3rem;
}