* {
    padding: 0;
    margin: 0;
}
#page {
    /* background-color: blue; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 15% auto 10%;
    min-height: 100vh;
}
#page header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}
#app {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-auto-rows: auto;
    gap: 2rem;
    margin: auto;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.restaurant-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: solid 3px silver;
    background-color: azure;
}
.restaurant-card > div {
    height: 16rem;
    width: 23rem;
    background-size: cover;
    background-position: center top;
}
.restaurant-card button {
    width: 5rem;
    background-color: bisque;
}
.restaurant-card restaurant-card-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: azure;
    padding:0 0.5rem;
}
.restaurant-card restaurant-card-footer > h2 {
    background-color: azure;
    flex: auto;
}
.restaurant-card form {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.restaurant-card form div {
    margin: 1rem 0;
}
.restaurant-card form div label {
    display: block;
}
.restaurant-card form div input {
    width: 90%;
    padding: 0.5rem;
}
.restaurant-card form button {
    padding: 0.5rem;

}
footer {
    display: flex;
    justify-content: end;
    background-color: aqua;
}
img {
    max-width: 100%;
}
.modal-bg {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-bg > article {
    height:  33vh;
    width: 33vw;
    background-color: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}
.modal-bg > article > main {
    flex: auto;
}
.modal-bg > article > footer {
    display: flex;
    justify-content: space-between;
    background-color: white;
}